{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-image: url('../static/images/Ace\ Bourbon.jpeg');
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<section class="p-5">
    <section id="profile" class="p-5">
        <h6 class="text-light text-center text-shadow p-5">Back-end Flask application that allows users to 
            Sign-Up/Sign-In<br>
            Storing all their favorite Whiskey Bourbons<br>
            Utilitizing Insomnia for REST API testing <br>
            PostgreSQL database <br>
            <a href="https://github.com/Schadre/FlaskWhiskey">Github link</a>
        </h6>
    </section>
</section>
{% endblock %}